header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
  float: right;
  margin-top: 0px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 30px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}
