<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemCache Entries</title>
    <table style="width:100%">
        <tr>
            <th>Key</th>
            <th>File Name</th>
            <th>File Size</th>
            <th>Options</th>
        </tr>
        {%for row in rows:%}
        <tr>
            <th>{{row[0]}}</th>
            <th>{{row[1]}}</th>
            <th>{{row[2]}}</th>
            <th>
                <form action="{{url_for('view_image', key=row[0])}}" method="post">
                    <input type="submit" value="view" />
                </form>
            </th>
        </tr>
        {%endfor%}
    </table>
</head>
<body>

</body>
</html>
