<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemCache Entries</title>
</head>
<body>
<h1>Memcache Statistic</h1>
    <table style="width:50%">
        <tr>
            <th>Miss Count</th>
            <th>Hit Count</th>
            <th>Total Request</th>
            <th>Miss Rate</th>
            <th>Hit Rate</th>
            <th>Content Size(MByte)</th>
        </tr>
        <tr>
            <th>{{memcache_stat['mis']}}</th>
            <th>{{memcache_stat['hit']}}</th>
            <th>{{memcache_stat['total']}}</th>
            <th>{{'%0.2f'| format(memcache_stat['mis_rate']|float)}}</th>
            <th>{{'%0.2f'| format(memcache_stat['hit_rate']|float)}}</th>
            <th>{{'%0.4f'| format(memcache_stat['size']|float)}}</th>
        </tr>
    </table>
<h2>Content</h2>
    <table style="width:50%">
        <tr>
            <th>Key</th>
            <th>File Size</th>
            <th>Request Time</th>
            <th>Options</th>
        </tr>
        {%for key in memcache:%}
        <tr>
            <th>{{key}}</th>
            <th>{{memcache[key]['size']}}</th>
            <th>{{memcache[key]['timestamp']}}</th>
            <th>
                <form action="{{url_for('view_image', key=key)}}" method="post">
                    <input type="submit" value="view" />
                </form>
            </th>
        </tr>
        {%endfor%}
    </table>
</body>
</html>
